html *
{
   font-size: large; 
   /* The !important ensures that nothing can override what you've set in this style (unless it is also important). */
   font-family: Arial;
}

h1            { text-align: center; font-size: x-large; }
th, td        { vertical-align: top; text-align: left;}   

#finaltable: td { background-color: white; } 
tr:nth-child(odd)    { background-color:#99FF99; }
tr:nth-child(even)    { background-color:#99FF66; }
input        { text-align: left;  border: none;       }
textarea     { border: outset; border-color: none;  }                        
table        { border: inset; border-color: none; }
table.center { margin-left:auto; margin-right:auto; }

#result      { border-color: white; }
tr.error       { background-color: red; }


body
{
 background-color: #66CCFF;
 }